.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

$icons: "facebook", "twitter", "github", "instagram", "linkedin";

@mixin generateIcons($iconlist) {
  @each $iconName in $iconlist {
    .item-#{$iconName} {
      background-image: url(../images/#{$iconName}.jpeg);
    }
  }
}

@include generateIcons($icons);
