*,
*::before,
*::after {
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @import "./variables";
// @import "./base";
// @import "./components";
@import "./components/something";
